<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.AppFood">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="FoodsApp"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FoodApp">
        <activity
            android:name="com.example.AppFood.Daftar"
            android:exported="false" />
        <activity
            android:name="com.example.AppFood.DetailActivity"
            android:exported="false" />
        <activity
            android:name="com.example.AppFood.HomeActivity"
            android:exported="false" />
        <activity
            android:name="com.example.AppFood.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>